<div class="bg">
<app-menu></app-menu>
  <div class="container-fluid">
    <div class="card-deck mt-5">
           <div class="row col-md  mt-5" *ngFor="let user of listaUser">
              <div class=" container-fluid d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                  <div
                    class="profile-img text-center"
                    style="
                      margin: 1rem;
                      width: 12.5rem;
                      height: 12.5rem;
                      border-radius: 50%;
                      overflow: hidden;
                      border-style: solid;
                      border-color: whitesmoke;
                    "
                  >
                    <img
                      class="img-fluid"
                      src="{{user.imagem}}"
                      alt="imagem de perfil"
                    />
                  </div>
                  <div class="container card-perfil text-center h-100">
                    <h4 class="d-flex justify-content-center">
                      {{user.nome  | uppercase }}
                    </h4>
                    <p >
                     {{user.causa | slice:0:15 | uppercase}}
                    </p>
                    <p style="height: 5rem">
                      {{user.descricao | slice:0:160}}
                     </p>

                    <button
                      type="button"
                      class="btn btn-info text-white m-3 bt" [routerLink]="['/parceiros/', user.id]" >
                      Ver Produtos
                    </button>
                  </div>
                </div>
              </div>
            </div>
           <!--- <div class="row">
              <div class="col container">
                <div class="d-flex justify-content-center">
                  <div
                    class="profile-img text-center"
                    style="
                      margin-top: 1rem;
                      width: 12.5rem;
                      height: 12.5rem;
                      border-radius: 50%;
                      overflow: hidden;
                      border-style: solid;
                      border-color: whitesmoke;
                    "
                  >
                    <img
                      class="img-fluid"
                      src="https://i.imgur.com/RMTFVjy.jpg"
                      alt="imagem de perfil"
                    />
                  </div>
                  <div class="container card-perfil text-center">
                    <h4 class="d-flex justify-content-center">Fala Mulher</h4>
                    <p>
                      Empoderando mulheres e fortalecendo familias, atuando na
                      defesa e garantia de seus direitos humanos.
                    </p>

                    <a
                      type="button"
                      class="btn btn-warning text-white m-3"
                      href="#"
                    >
                      Ver Produtos
                    </a>
                  </div>
                </div>
              </div>
            </div>

           <div class="row">
              <div class="col container">
                <div class="d-flex justify-content-center">
                  <div
                    class="profile-img text-center"
                    style="
                      margin-top: 1rem;
                      width: 12.5rem;
                      height: 12.5rem;
                      border-radius: 50%;
                      overflow: hidden;
                      border-style: solid;
                      border-color: whitesmoke;
                    "
                  >
                    <img
                      class="img-fluid"
                      src="https://i.imgur.com/xEycTzr.png"
                      alt="imagem de perfil"
                    />
                  </div>
                  <div class="container card-perfil text-center">
                    <h4 class="d-flex justify-content-center">
                      Mulheres da Luz
                    </h4>
                    <p>
                      Promovemos a cidadania das mulheres em situação de
                      prostituição do Parque da Luz e entornos.
                    </p>

                    <a
                      type="button"
                      class="btn btn-warning text-white m-3"
                      href="#"
                    >
                      Ver Produtos
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="educacao"
          role="tabpanel"
          aria-labelledby="educacao-tab"
        >
          <div class="row d-flex justify-content-around pt-4">
            <div class="row">
              <div class="col container">
                <div class="d-flex justify-content-center">
                  <div
                    class="profile-img text-center"
                    style="
                      margin-top: 1rem;
                      width: 12.5rem;
                      height: 12.5rem;
                      border-radius: 50%;
                      overflow: hidden;
                      border-style: solid;
                      border-color: whitesmoke;
                    "
                  >
                    <img
                      class="img-fluid"
                      src="https://i.imgur.com/fo6pdhd.jpg"
                      alt="imagem de perfil"
                    />
                  </div>
                  <div class="container card-perfil text-center">
                    <h4 class="d-flex justify-content-center">
                      Gerando Falcões
                    </h4>
                    <p>
                      Somos frutos de uma visão: "Não importa de onde você vem,
                      mas pra onde você vai".
                    </p>

                    <a
                      type="button"
                      class="btn btn-warning text-white m-3"
                      href="#"
                    >
                      Ver Produtos
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col container">
                <div class="d-flex justify-content-center">
                  <div
                    class="profile-img text-center"
                    style="
                      margin-top: 1rem;
                      width: 12.5rem;
                      height: 12.5rem;
                      border-radius: 50%;
                      overflow: hidden;
                      border-style: solid;
                      border-color: whitesmoke;
                    "
                  >
                    <img
                      class="img-fluid"
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0peZjOfmVsqimeRad3RxAIdP_MCsDOIPELg&usqp=CAU"
                      alt="imagem de perfil"
                    />
                  </div>
                  <div class="container card-perfil text-center">
                    <h4 class="d-flex justify-content-center">
                      Sementes do Amanhã
                    </h4>
                    <p>
                      Uma comunhão entre as crianças que supere as barreiras de
                      preconceitos raciais
                    </p>

                    <a
                      type="button"
                      class="btn btn-warning text-white m-3"
                      href="#"
                    >
                      Ver Produtos
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col container">
                <div class="d-flex justify-content-center">
                  <div
                    class="profile-img text-center"
                    style="
                      margin-top: 1rem;
                      width: 12.5rem;
                      height: 12.5rem;
                      border-radius: 50%;
                      overflow: hidden;
                      border-style: solid;
                      border-color: whitesmoke;
                    "
                  >
                    <img
                      class="img-fluid"
                      src="https://i.imgur.com/Wd8BtZu.jpg"
                      alt="imagem de perfil"
                    />
                  </div>
                  <div class="container card-perfil text-center">
                    <h4 class="d-flex justify-content-center">
                      Todos pela Educação
                    </h4>
                    <p>
                      Engajar o poder público e a sociedade brasileira a
                      assegurar o direito à Educação Básica.
                    </p>

                    <a
                      type="button"
                      class="btn btn-warning text-white m-3"
                      href="#"
                    >
                      Ver Produtos
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="saude"
          role="tabpanel"
          aria-labelledby="saude-tab"
        >
          <div class="row d-flex justify-content-around pt-4">
            <div class="row">
              <div class="col container">
                <div class="d-flex justify-content-center">
                  <div
                    class="profile-img text-center"
                    style="
                      margin-top: 1rem;
                      width: 12.5rem;
                      height: 12.5rem;
                      border-radius: 50%;
                      overflow: hidden;
                      border-style: solid;
                      border-color: whitesmoke;
                    "
                  >
                    <img
                      class="img-fluid"
                      src="https://i.imgur.com/i2dcn5y.jpg"
                      alt="imagem de perfil"
                    />
                  </div>
                  <div class="container card-perfil text-center">
                    <h4 class="d-flex justify-content-center">Horas da Vida</h4>
                    <p>
                      Promovemos a inclusão social e o acesso a saúde para
                      pessoas em situação de vulnerabilidade social.
                    </p>

                    <a
                      type="button"
                      class="btn btn-warning text-white m-3"
                      href="#"
                    >
                      Ver Produtos
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col container">
                <div class="d-flex justify-content-center">
                  <div
                    class="profile-img text-center"
                    style="
                      margin-top: 1rem;
                      width: 12.5rem;
                      height: 12.5rem;
                      border-radius: 50%;
                      overflow: hidden;
                      border-style: solid;
                      border-color: whitesmoke;
                    "
                  >
                    <img
                      class="img-fluid"
                      src="https://i.imgur.com/UjuNM7W.jpg"
                      alt="imagem de perfil"
                    />
                  </div>
                  <div class="container card-perfil text-center">
                    <h4 class="d-flex justify-content-center">Turma do Bem</h4>
                    <p>
                      Promovemos soluções de acesso a tratamentos odontológicos
                      a pessoas em situação de vulnerabilidade social.
                    </p>

                    <a
                      type="button"
                      class="btn btn-warning text-white m-3"
                      href="#"
                    >
                      Ver Produtos
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col container">
                <div class="d-flex justify-content-center">
                  <div
                    class="profile-img text-center"
                    style="
                      margin-top: 1rem;
                      width: 12.5rem;
                      height: 12.5rem;
                      border-radius: 50%;
                      overflow: hidden;
                      border-style: solid;
                      border-color: whitesmoke;
                    "
                  >
                    <img
                      class="img-fluid"
                      src="https://i.imgur.com/jOQevdo.jpg"
                      alt="imagem de perfil"
                    />
                  </div>
                  <div class="container card-perfil text-center">
                    <h4 class="d-flex justify-content-center">
                      Trupe Miolo Mole
                    </h4>
                    <p>
                      Promovendo transformação através da alegria da figura do
                      palhaço atendendo crianças e adolescentes em
                      vulnerabilidade social.
                    </p>

                    <a
                      type="button"
                      class="btn btn-warning text-white m-3"
                      href="#"
                    >
                      Ver Produtos
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
