.gris{
    background: whitesmoke;
    transition: background-color 3s;
}

ul{
    background-color: whitesmoke;
}

.profile-img{
    position: absolute;
    background-color:white;
    justify-content: center;
    align-items: stretch;
    display: flex;
}
.card-perfil{
    padding-top: 15rem;
    width: 15.625rem;
    background-color: white;
    padding-inline: 0.313rem;
    box-shadow: 0 15px 30px rgba(230, 178, 10, 0.8);
    font-size: 0.938rem ;
    text-align: justify;
    color: grey;
}

.bg{
    background-color:whitesmoke

}

.titulos{
    font-weight: 500;
    font-size: xx-large;
}

.pt-c{
    padding-top: 2rem;
    background-color: whitesmoke;
    margin-top: 4rem;
}

.bt{
  margin-top: 12rem;
}
