<div class="bg">
  <app-menu></app-menu>

  <!--Card Perfil-->
  <div class="row">
    <div class="col-md-3 *ngFor='let user of listaUser'">
      <div class="d-flex justify-content-center">
        <div
          class="profile-img text-center"
          style="
            margin-top: 6rem;
            width: 12.5rem;
            height: 12.5rem;
            border-radius: 50%;
            overflow: hidden;
            border-style: solid;
            border-color: whitesmoke;">
          <img class="img-fluid"
            src="{{ user.imagem }}"
            alt="imagem de perfil"/>
        </div>
        <div class="container card-perfil text-center">
          <h2 class="d-flex justify-content-center tx">{{ user.nome }}</h2>
          <hr />
          <p class="font-weight-bold tx">
            <fa-icon
              [icon]="faCircleInfo"
              size="1x"
              [class]="['icones']"
            ></fa-icon>
            QUEM SOMOS
          </p>
          <p class="text-muted">{{ user.descricao }}</p>
          <hr />
          <p class="font-weight-bold tx">
            <fa-icon [icon]="faHeart" size="1x" [class]="['icones']"> </fa-icon>
            NOSSAS CAUSAS
          </p>
          <p class="text-muted">{{ user.causa }}</p>

          <hr />
          <div>
            <ul class="social-network">
              <p>Siga-nos nas redes sociais</p>
              <li>
                <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  class="icoFacebook"
                >
                  <fa-icon [icon]="faFacebook" size="2x" [class]="['icones']">
                  </fa-icon>
                </a>
              </li>

              <li>
                <a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="icoInstagram"
                >
                  <fa-icon [icon]="faInstagram" size="2x" [class]="['icones']">
                  </fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <button
            *ngIf="authService.logado()"
            type="button"
            class="btn btn-outline-info my-3"
            data-toggle="modal"
            data-target="#ExemploModalCentralizado"
          >
            Cadastrar Produto
          </button>
          <button
            *ngIf="authService.logado()"
            type="button"
            class="btn btn-outline-info my-3"
            [routerLink]="['/perfil-edit', user.id]"
          >
            Editar Perfil
          </button>
          <button
            routerLink="/home"
            type="button"
            class="btn btn-outline-warning my-3"
            data-toggle="modal"
            data-target="#ExemploModalCentralizado"
          >
            Voltar para home
          </button>
        </div>
      </div>
    </div>
    <!--Card Produtos-->
    <div class="col-md-9">
      <div class="card-deck">
        <div class="row col-md h-100 pt-5" *ngFor="let produto of user.produto">
          <div class="container-fluid d-flex justify-content-center">
            <div
              class="card text-center mc h-100"
              style="width: 15rem; height: 25rem"
            >
              <div class="container d-flex justify-content-center">
                <div
                  class="container-fluid profile-img rounded px-0"
                  style="overflow: hidden"
                >
                  <img
                    class="img-fluid"
                    src="{{ produto.imagem }}"
                    alt="imagem do produto"
                    style="width: 15rem; height: 12.5rem"
                  />
                </div>
                <div
                  class="container-fluid d-flex justify-content-center"
                  style="padding-top: 14rem; height: 28rem; ;"
                >
                  <div>
                    <h5 style="height: 3rem">{{ produto.nome | slice: 0:30 }}</h5>
                    <p class="tx-cd" style="height: 5.5rem">
                      {{ produto.descricao | slice: 0:150 }}
                    </p>
                    <h4 class="price font-weight-bold mb-2">
                      R$ {{ produto.preco}},00
                    </h4>
                    <div class="d-flex justify-content-center">
                      <a
                        *ngIf="authService.deslogado()"
                        data-toggle="modal"
                        href="#carrinho"
                        class="btn btn-warning"
                        >Quero doar!</a
                      >
                      <a
                        *ngIf="authService.logado()"
                        data-toggle="modal"
                        data-target=""
                        class="btn btn-info mc"
                        [routerLink]="['/produto-edit', produto.id]"
                        >Editar</a
                      >
                      <a
                        *ngIf="authService.logado()"
                        data-toggle="modal"
                        data-target=""
                        class="btn btn-warning mc"
                        [routerLink]="['/produto-delete', produto.id]"
                        >Apagar</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!--modal carrinho-->
    <div
      class="modal fade"
      id="carrinho"
      tabindex="-1"
      role="dialog"
      aria-labelledby="TituloModalCentralizado"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Gratidão</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Fechar"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <img src="https://i.imgur.com/siOg4Tx.jpg" style="width: 16rem; height: 20rem; margin-left: 1rem; border-radius: 1rem;">
            <p class="modal-body tx-cd">
              Nos orgulha saber que existem pessoas que se dedicam todos os dias
              para cumprir sua missão por um país inteiro.
            </p>
            <p class="modal-body text-mutted ">Pessoas como VOCÊ!</p>
            <div class="d-flex justify-content-center">
              <button class="btn btn-warning mr-4" data-dismiss="modal">
                Cancelar
              </button>
              <a
                href="https://i.imgur.com/b7vyhkA.jpg"
                class="btn btn-blue"
                target="_blank"
              >
                Pagamento
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="ExemploModalCentralizado"
      tabindex="-1"
      role="dialog"
      aria-labelledby="TituloModalCentralizado"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">
              Cadastro - Produto
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Fechar"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="nome">Nome do Produto</label>
              <input
                [(ngModel)]="produto.nome"
                class="form-control"
                type="text"
                nome="nome"
                id="nome"
                placeholder="Nome do Produto"
              />
            </div>

            <div class="form-group">
              <label for="imagem">Imagem do Produto</label>
              <input
                [(ngModel)]="produto.imagem"
                class="form-control"
                type="text"
                nome="imagem"
                id="imagem"
                placeholder="Link da imagem"
              />
            </div>

            <div class="form-group">
              <label for="preco">Preço</label>
              <input
                [(ngModel)]="produto.preco"
                class="form-control"
                type="number"
                required="required"
                name="preco"
                id="preco"
                placeholder="Preco do produto"
                pattern="[0-9]+$"
              />
            </div>

            <div class="form-group">
              <label for="quantidade">Quantidade</label>
              <input
                [(ngModel)]="produto.quantidade"
                class="form-control"
                type="number"
                nome="quantidade"
                id="quantidade"
                placeholder="Quantidade de produtos"
              />
            </div>

            <div class="form-group">
              <label for="descricao">Descrição do Produto</label>
              <textarea
                [(ngModel)]="produto.descricao"
                class="form-control"
                name="descricao"
                id="descricao"
                rows="3"
              ></textarea>
            </div>

            <div class="d-flex justify-content-center">
              <button class="btn btn-warning mr-4" data-dismiss="modal">
                Cancelar
              </button>
              <button
                class="btn btn-blue"
                data-dismiss="modal"
                (click)="cadastrarProdutos()"
              >
                Cadastrar
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Modal -->
    </div>
</div>

